services:
    laravel.test:
        build:
            context: './vendor/laravel/sail/runtimes/8.4'
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: 'sail-8.4/app'
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - mysql
            - redis
        # command: /bin/bash -c "npm install && npm run dev & php artisan serve --host=0.0.0.0 --port=80"
        command: /bin/bash -c "
                npm install &&
                rm -f public/hot &&
                rm -rf public/build &&
                NODE_ENV=production npm run build &&
                php artisan optimize:clear &&
                php artisan config:cache &&
                php artisan serve --host=0.0.0.0 --port=80
            "
        expose:
            - "80"

        # cloudflared-laravel:
        #     image: cloudflare/cloudflared:latest
        #     restart: unless-stopped
        #     command: tunnel --url http://laravel.test:80
        #     networks:
        #         - sail
        #     depends_on:
        #         - laravel.test

    mysql:
        image: 'mysql/mysql-server:8.0'
        expose:
            - "3306"
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'sail-mysql:/var/lib/mysql'
            - './vendor/laravel/sail/database/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        platform: linux/x86_64
        restart: unless-stopped
        expose:
            - "8080:80"
        environment:
            PMA_HOST: mysql
            PMA_PORT: 3306
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
        networks:
            - sail
        depends_on:
            - mysql

    redis:
        image: 'redis:alpine'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
        expose:
            - "6379"

    laravel.worker:
        build:
            context: './vendor/laravel/sail/runtimes/8.4'
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: 'sail-8.4/worker'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            QUEUE_CONNECTION: '${QUEUE_CONNECTION:-redis}'
            API_SERVICE_HOST: '${API_SERVICE_HOST:-laravel.test}'
            API_SERVICE_PORT: '${API_SERVICE_PORT:-80}'
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - redis
            - mysql
        restart: unless-stopped
        command: /bin/bash -lc "php artisan queue:work ${QUEUE_CONNECTION:-redis} --sleep=3 --tries=3 --timeout=90"

networks:
    sail:
        driver: bridge
volumes:
    sail-mysql:
        driver: local
    sail-redis:
        driver: local
